* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #3B3486 !important;
}

main {
  margin: 32px auto;
}

movie-list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 32px;
  padding: 16px;
}